snippet /(todo|fix|note|warn|bug|perf)/ "LABEL: note" r
`!p
commentstring = vim.eval('&commentstring')
template = '{0} {1}'
note = match.group(1).upper()
snip.rv = template.format(commentstring[0:commentstring.find('%s')].strip(), note)
`: $0`!p
commentstring = vim.eval('&commentstring')
if not commentstring.endswith("%s"):
	snip.rv = ' ' + commentstring[commentstring.find('%s') + 2::].strip()
`
endsnippet
