# Override lua-snippets file
priority 5

snippet if "if ... then ... end"
if $1 then
	${0:${VISUAL:-- Code}}
end
endsnippet

snippet lfunc "local name = function() end"
local ${1:name} = function(${2:args})
	$0
end
endsnippet

