*.sw
*.swap

*.o
*.out

.netrwhist

shada*
viminfo*
nviminfo

/rplugin.vim
/extras.vim

plugged/
/host/
/autoload/host/
/plugin/host/

.ropeproject/*

data/cache/*
data/sessions/*
data/swap/*
data/undo/*
data/backup/*

tags
TAGS

.*@neomake*

# Binary spell files
*.spl
*.sug

/local.vim
/.luacheckcache
