*.sw
*.swap

*.o
*.out

.netrwhist

shada*
viminfo*
nviminfo

/rplugin.vim
/extras.vim

plugged/
/host/

.ropeproject/*
.resources/cache/*
.resources/sessions/*
.resources/swap/*
.resources/undo/*
.resources/backup/*

tags
TAGS
