*.sw
*.swap

*.o
*.out

/.netrwhist

/shada*
/viminfo*
/nviminfo

/rplugin.vim
/extras.vim

/plugged/
/host/
/autoload/host/
/autoload/host.vim
/autoload/work/
/autoload/work.vim
/plugin/host/

.ropeproject/*

tags
TAGS

.*@neomake*

# Binary spell files
*.spl
*.sug

/local.vim
/.luacheckcache
/lua/work/
/lua/host/
/after/plugin/host/

/plugin/packer_compiled.vim
