# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: trailing-whitespaces
        name: Trailing whitespaces
        description: Check for trailing whitespaces
        language: pygrep
        entry: "[ ]+$"
        args: []
        types: [text]
      - id: check-yaml
        name: check-yaml
        description: Check yaml format
        language: system
        entry: check-yaml
        types: [yaml]
      - id: check-json
        name: check-json
        description: Check json format
        language: system
        entry: check-json
        types: [json]
      - id: ruff_check
        name: ruff check
        description: run linting for python files
        language: system
        entry: ruff
        args: ['check', '--respect-gitignore', '--line-length=85']
        types: [python]
      - id: ruff_format
        name: ruff format
        description: run formatting for python files
        language: system
        entry: ruff
        args: ['format', '--respect-gitignore', '--check', '--line-length=85']
        types: [python]
      - id: shellcheck
        name: shellcheck
        description: Shell correctness
        entry: shellcheck
        args: ['-f', 'gcc', '-x', '-e', '1117']
        exclude: |
            (?x)^(
                shell/zfunctions/.*|
                shell/scripts/.*|
                .*\.(t)?csh|
                .*zsh.*|
                .*\.zsh
            )$
        language: system
        types: [shell]
      - id: shfmt
        name: shfmt
        description: Format shell scripts
        entry: shfmt
        args: ['-i', '4', '-s', '-ci', '-kp', '-d']
        exclude: |
            (?x)^(
                shell/zfunctions/.*|
                shell/scripts/.*|
                .*\.(t)?csh|
                .*zsh.*|
                .*\.zsh
            )$
        types: [shell]
        language: system
      - id: luacheck
        name: luacheck
        description: Lua check
        entry: luacheck
        # TODO: Fix completxity before adding this back '--max-cyclomatic-complexity', '20',
        args: ['--std', 'luajit', '--formatter', 'plain', '--codes']
        language: system
        types: [lua]
      - id: stylua
        name: stylua
        description: Format Lua files
        entry: stylua
        args: [--check, --verify]
        language: system
        types: [lua]
