# Python development
jedi
flake8
pylint
pyflakes
pycodestyle
autopep8
rope
ropevim
yapf
virtualenv
python-language-server
mccabe
# pydoc

# JS development
jsbeautifier
mistune
psutil

# (Neo)vim stuff
pynvim
# NOTE: sometimes vint cause some problems in python2
vim-vint
neovim-remote
