# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-xml
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: detect-private-key
      # - id: pretty-format-json
      - id: end-of-file-fixer
  - repo: https://github.com/psf/black
    rev: 21.7b0  # Latest: 21.7b0 or stable
    hooks:
      - id: black
        language_version: python3
        args: [--line-length=120]
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.5  # or master
    hooks:
      # - id: bundler-audit
      # - id: check-mailmap
      # - id: fasterer
      - id: forbid-binary
      # - id: forbid-space-in-indent
      - id: git-check  # Configure in .gitattributes
      # - id: git-dirty  # Configure in .gitignore
      - id: markdownlint # Configure in .mdlrc
      # - id: reek
      # - id: require-ascii
      # - id: rubocop
      # - id: script-must-have-extension
      # - id: script-must-not-have-extension
      # - id: shellcheck
      # - id: shfmt
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.10
    hooks:
      - id: remove-crlf
      - id: remove-tabs
        exclude: |
            (?x)^(
                UltiSnips/.*|
                Makefile.*|
                \.git.*|
                .*\.make|
                .*\.go$
            )$
        # args: [ '--whitespaces-count', '2' ]  # defaults to: 4
  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.3.0
    hooks:
      - id: check-github-workflows
      - id: check-github-actions
      # - id: check-jsonschema
      # - id: check-azure-pipelines
      # - id: check-travis
  - repo: https://github.com/PyCQA/flake8
    rev: '3.9.2'  # Use the sha / tag you want to point at
    hooks:
      - id: flake8
        args: [
          '--max-line-length=120',
          '--ignore=E203,E226,E231,E261,E262,E265,E302,W391'
        ]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v0.910'  # Use the sha / tag you want to point at
    hooks:
      - id: mypy
        # args: [--ignore-missing-imports]
  - repo: local
    hooks:
      - id: shellcheck
        name: Shellcheck
        description: Shell correctness
        entry: shellcheck
        args: ['-f', 'gcc', '-x', '-e', '1117']
        exclude: |
            (?x)^(
                shell/zfunctions/.*|
                shell/scripts/.*|
                .*\.(t)?csh|
                .*zsh.*|
                .*\.zsh
            )$
        language: system
        types: [shell]
      # - id: vint
      #   name: vint
      #   description: VimL check
      #   entry: vint
      #   language: system
      #   args: ['--enable-neovim', '-t', '-w']
      #   exclude: |
      #       (?x)^(
      #           plug/.*|
      #           ftdetect/.*
      #       )$
      #   files: '\.*.vim$'
      # - id: luacheck
      #   name: luacheck
      #   description: Lua check
      #   entry: luacheck
      #   args: ['--max-cyclomatic-complexity', '15', '--std', 'luajit', '--formatter', 'plain']
      #   language: system
      #   types: [lua]
      # - id: flake8
      #   name: flake8
      #   description: '`flake8` is a command-line utility for enforcing style consistency across Python projects.'
      #   entry: flake8
      #   args: ["--max-line-length=120"]
      #   language: python
      #   types: [python]
      #   require_serial: true
