name: auto-format
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Fetch install script
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          bison              \
          curl               \
          git                \
          shellcheck         \
          python3-setuptools \
          python-setuptools  \
          python3-pip        \
          python3-virtualenv \
          luarocks           \
          golang

        wget https://raw.githubusercontent.com/mike325/dotfiles/master/install.sh -O /tmp/install.sh
        chmod +x /tmp/install.sh
        /tmp/install.sh --nolog --portables --verbose --force

        # FIX: Temporally fix as currently the latest tag does not have a release
        rm -f ~/.local/bin/shfmt
        bash < <(curl -s -S -L https://raw.githubusercontent.com/moovweb/gvm/master/binscripts/gvm-installer)
        source "$HOME/.gvm/scripts/gvm"
        gvm install go1.18.3 -B
        gvm use go1.18.3 --default
        go install mvdan.cc/sh/v3/cmd/shfmt@latest

    - name: Stylua
      run: |
        ~/.local/bin/stylua -s .
    - name: Shfmt
      run: |
        shfmt -i 4 -s -ci -kp -w .
    - uses: EndBug/add-and-commit@v4
      with:
        author_name: Autoformatter
        author_email: autoformatter@users.noreply.github.com
        message: ':art: Committing stylua and shfmt changes'
      env:
        GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
